@charset "UTF-8";
.only-mobile {
  display: none;
}

.container {
  min-height: 100vh;
}

.mode-toggle {
  position: absolute;
  right: 40px;
  top: 40px;
  transform: translate(0, 0);
}

.title {
  margin-top: 40px;
}

.company-info {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color);
  word-break: keep-all;
  margin-bottom: 48px;
}

.info-title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--info-title);
  padding: 48px 20px 0;
  margin-top: 48px;
  border-top: 1px solid #6347f4;
}
.info-title .notice {
  color: #8d8a95;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

.filter-wrapper {
  position: relative;
}
.filter-wrapper .filter-btn .tag {
  margin: 0;
  padding: 6px;
}
.filter-wrapper .filter-btn.active + .tag-wrapper {
  display: block;
}
.filter-wrapper .tag-wrapper {
  display: none;
  position: absolute;
  right: 0px;
  top: 40px;
  transform: translate(0, 0);
  border-radius: 16px;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  text-align: right;
  z-index: 1;
}
.filter-wrapper .tag-wrapper .tag {
  margin-top: 4px;
}
.filter-wrapper .tag-wrapper .tag:first-of-type {
  margin-top: 0;
}

.work-list {
  padding: 0 0 14px 30px;
}
.work-list.history li {
  margin-top: 16px;
}
.work-list.history li .work-title {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: var(--color);
}
.work-list > li {
  margin-top: 24px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}
.work-list > li:first-of-type {
  margin-top: 16px;
}
.work-list > li.active .details {
  display: block;
}
.work-list .work-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color);
  width: 75%;
  position: relative;
  text-indent: -23px;
  padding-left: 23px;
  word-break: keep-all;
}
.work-list .work-title::before {
  content: "🌼";
  margin-right: 8px;
}
.work-list .work-title span:not(.tag) {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  text-indent: 0;
  margin-right: 10px;
}
.work-list .work-title span:not(.tag)::before {
  content: "[";
}
.work-list .work-title span:not(.tag)::after {
  content: "]";
}
.work-list .tag-wrapper {
  width: 25%;
  text-align: right;
}
.work-list .tag-wrapper .tag {
  text-indent: 0;
  border: 1px solid #ececed;
}
.work-list .tag-wrapper .tag:last-of-type {
  margin-right: 0;
}
.work-list .ic-wrapper {
  border-radius: 50%;
}
.work-list .details {
  display: none;
  width: 100%;
  padding: 0 20px;
}
.work-list .details a {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  width: 100%;
  margin: 16px 0;
}
.work-list .details a .ic {
  background: #7357ff;
}
.work-list .details a .ic.page {
  margin-right: 4px;
}
.work-list .details a:hover .ic {
  background-color: #fff;
}
.work-list .text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: var(--sub-color);
  margin-top: 16px;
  word-break: keep-all;
}

.portfolio-btn {
  text-align: center;
}
.portfolio-btn a {
  border-radius: 30px;
}
.portfolio-btn a .ic {
  background: #7357ff;
}
.portfolio-btn a:hover {
  background: linear-gradient(90deg, #21194d 0%, #8b75ff 100%);
  background-size: 150%;
  animation: gradient 2s ease infinite alternate-reverse;
}
.portfolio-btn a:hover .ic {
  background: rgb(255, 255, 255);
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}
@media all and (max-width: 640px) {
  .work-list {
    padding: 0 15px 14px;
  }
  .work-list .work-title {
    width: 100%;
  }
  .work-list:not(.history) .work-title {
    width: calc(100% - 44px);
  }
  .work-list .tag-wrapper {
    width: 100%;
    margin-top: 8px;
    padding-left: 23px;
  }
}
@media all and (max-width: 480px) {
  .only-moblie {
    display: block;
  }
  .mode-toggle {
    top: 8.3333333333vw;
    right: 8.3333333333vw;
  }
  .title {
    margin-top: 8.3333333333vw;
  }
  .info-title {
    padding: 10vw 0 0;
  }
  .filter-wrapper {
    position: relative;
  }
  .filter-wrapper .filter-btn .tag {
    margin: 0;
    padding: 6px;
  }
  .filter-wrapper .filter-btn.active + .tag-wrapper {
    display: block;
  }
  .filter-wrapper .tag-wrapper {
    top: 8.3333333333vw;
    border-radius: 3.3333333333vw;
    padding: 3.3333333333vw;
  }
  .filter-wrapper .tag-wrapper .tag {
    margin-top: 0.8333333333vw;
  }
  .filter-wrapper .tag-wrapper .tag:first-of-type {
    margin-top: 0;
  }
  .work-list {
    padding: 0 0 2.9166666667vw;
  }
  .work-list.history li {
    margin-top: 3.3333333333vw;
  }
  .work-list > li {
    margin-top: 5vw;
  }
  .work-list > li:first-of-type {
    margin-top: 3.3333333333vw;
  }
  .work-list > li .work-title::before {
    margin-right: 1.6666666667vw;
  }
  .work-list > li .work-title span:not(.tag) {
    display: block;
    margin-top: 0.8333333333vw;
  }
  .work-list > li .details {
    padding-right: 4.1666666667vw;
  }
  .work-list > li .details a {
    margin: 3.3333333333vw 0;
  }
  .work-list > li .details a .ic.page {
    margin-right: 0.8333333333vw;
  }
  .work-list > li .details a.btn {
    padding: 1.6666666667vw 2.0833333333vw;
  }
  .work-list .text {
    margin-top: 3.3333333333vw;
  }
  .work-list .tag-wrapper {
    margin-top: 1.6666666667vw;
  }
}
