.sub {
  min-height: 100vh;
  overflow-x: hidden;
}
.sub.wrapper {
  padding: 104px 0 50px;
}
.sub .mode-toggle input.toggle.right + label::after {
  border: 1px solid #c6c5ca;
}
.sub .mode-toggle input.toggle.right:checked + label::after {
  background-color: #3bc641;
}
.sub .mode-toggle span {
  vertical-align: middle;
  color: #110c22;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7142857143;
}
.sub .title {
  color: #110c22;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.4545454545;
  margin: 24px 0;
}
.sub .tag-wrapper .tag {
  margin: 4px;
  border: 1px solid #ececed;
}
.sub .url {
  margin-bottom: 12px;
}
.sub .type-pc + .type-mo {
  margin-top: 60px;
}
.sub .description {
  color: #110c22;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  display: none;
}
.sub .more-btn {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  background: #3bc641;
  width: 100%;
  margin: 24px 0;
}
.sub .more-btn .ic {
  background: rgb(255, 255, 255);
}
.sub .more-btn .ic.page {
  margin-right: 4px;
}
.sub .more-btn.active .arrow-down {
  transform: rotate(180deg);
}
.sub .more-btn.active + .description {
  display: block;
}

.fix-content {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  width: 100%;
  background-color: #f3f3f4;
  padding: 48px 0 24px;
  z-index: 10;
}
.fix-content.top {
  padding-top: 24px;
}
.fix-content .title {
  margin: 0 !important;
}
.fix-content .scroll-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 5px;
}
.fix-content .scroll-progress .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 5px;
  background: #3bc641;
  transition: all 0.3s ease;
  border-radius: 0 5px 5px 0;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  border-top: 0;
}
.scroll::-webkit-scrollbar-thumb {
  border-color: transparent;
}

@media all and (max-width: 480px) {
  .sub.wrapper {
    padding: 20.8333333333vw 0 10.4166666667vw;
  }
  .sub .title {
    font-size: 1rem;
    margin: 5vw 0;
  }
  .sub .url {
    margin-bottom: 2.5vw;
  }
  .sub .type-pc + .type-mo {
    margin-top: 12.5vw;
  }
  .sub .more-btn {
    margin: 5vw 0;
  }
  .fix-content {
    padding: 10vw 0 5vw;
  }
  .fix-content.top {
    padding-top: 5vw;
  }
}
@media all and (max-width: 380px) {
  .wrapper {
    padding-top: 27.0833333333vw;
  }
  .mode-toggle span {
    display: block;
  }
  .mode-toggle input.toggle.right:checked + label::before {
    top: calc(50% + 5px);
  }
}
.dark.sub .title {
  color: #f3f3f4;
}
.dark.sub .description {
  color: #c6c5ca;
}
.dark .fix-content {
  background-color: #0f0b24;
}
