@charset "utf-8";
@import "../design_system/scss/_variables.scss", "../design_system/scss/_mixins.scss";

.only-mobile {
  display: none;
}
.container {
  min-height: 100vh;
}
.mode-toggle {
  @include setPosition(absolute, right, 40, top, 40);
}
.title {
  margin-top: 40px;
}
.company-info {
  @include setFontSize(map-get($font, md-24));
  color: var(--color);
  word-break: keep-all;
  margin-bottom: 48px;
}
.info-title {
  @include setFontSize(map-get($font, xl-32));
  color: var(--info-title);
  padding: 48px 20px 0;
  margin-top: 48px;
  border-top: 1px solid $primary600;
  & .notice {
    @include setFontStyle(map-get($font, sm-24), $gray500, 400);
  }
}
.filter-wrapper {
  position: relative;
  & .filter-btn {
    & .tag {
      margin: 0;
      padding: 6px;
    }
    &.active {
      & + .tag-wrapper {
        display: block;
      }
    }
  }
  & .tag-wrapper {
    display: none;
    @include setPosition(absolute, right, 0px, top, 40px);
    border-radius: 16px;
    padding: 16px;
    background-color: $white100;
    text-align: right;
    z-index: 1;
    & .tag {
      margin-top: 4px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
.work-list {
  padding: 0 0 14px 30px;
  &.history {
    & li {
      margin-top: 16px;
      & .work-title {
        @include setFontSize(map-get($font, sm-24));
        color: var(--color);
      }
    }
  }
  & > li {
    margin-top: 24px;
    @include setFlexLayout;
    align-items: center;
    &:first-of-type {
      margin-top: 16px;
    }
    &.active {
      & .details {
        display: block;
      }
    }
  }
  & .work-title {
    @include setFontSize(map-get($font, md-24), 400);
    color: var(--color);
    width: 75%;
    position: relative;
    text-indent: -23px;
    padding-left: 23px;
    word-break: keep-all;
    &::before {
      content: "🌼";
      margin-right: 8px;
    }
    & span:not(.tag) {
      display: inline-block;
      font-size: convertPxToRem(12);
      font-weight: 400;
      line-height: 1;
      text-indent: 0;
      margin-right: 10px;
      &::before {
        content: "[";
      }
      &::after {
        content: "]";
      }
    }
  }
  & .tag-wrapper {
    width: 25%;
    text-align: right;
    & .tag {
      text-indent: 0;
      border: 1px solid $gray75;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  & .ic-wrapper {
    border-radius: 50%;
  }
  & .details {
    display: none;
    width: 100%;
    padding: 0 20px;
    & a {
      @include setFlexLayout;
      width: 100%;
      margin: 16px 0;
      & .ic {
        background: $primary500;
        &.page {
          margin-right: 4px;
        }
      }
      &:hover {
        & .ic {
          background-color: #fff;
        }
      }
    }
  }
  & .text {
    @include setFontSize(map-get($font, sm-24), 400);
    color: var(--sub-color);
    margin-top: 16px;
    word-break: keep-all;
  }
}
.portfolio-btn {
  text-align: center;
  & a {
    border-radius: 30px;
    & .ic {
      background: $primary500;
    }
    &:hover {
      background: linear-gradient(90deg, $primary900 0%, $primary400 100%);
      background-size: 150%;
      animation: gradient 2s ease infinite alternate-reverse;
      & .ic {
        background: $white100;
      }
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}
@include respond(640) {
  .work-list {
    padding: 0 15px 14px;
    & .work-title {
      width: calc(100%);
    }
    &:not(.history) {
      & .work-title {
        width: calc(100% - 44px);
      }
    }
    & .tag-wrapper {
      width: 100%;
      margin-top: 8px;
      padding-left: 23px;
    }
  }
}
@include respond(480) {
  .only-moblie {
    display: block;
  }
  .mode-toggle {
    top: convertPxToVw(40, 480);
    right: convertPxToVw(40, 480);
  }
  .title {
    margin-top: convertPxToVw(40, 480);
  }
  .info-title {
    padding: convertPxToVw(48, 480) 0 0;
  }
  .filter-wrapper {
    position: relative;
    & .filter-btn {
      & .tag {
        margin: 0;
        padding: 6px;
      }
      &.active {
        & + .tag-wrapper {
          display: block;
        }
      }
    }
    & .tag-wrapper {
      top: convertPxToVw(40, 480);
      border-radius: convertPxToVw(16, 480);
      padding: convertPxToVw(16, 480);
      & .tag {
        margin-top: convertPxToVw(4, 480);
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
  .work-list {
    padding: 0 0 convertPxToVw(14, 480);
    &.history {
      & li {
        margin-top: convertPxToVw(16, 480);
      }
    }
    & > li {
      margin-top: convertPxToVw(24, 480);
      &:first-of-type {
        margin-top: convertPxToVw(16, 480);
      }
      & .work-title {
        &::before {
          margin-right: convertPxToVw(8, 480);
        }
        & span:not(.tag) {
          display: block;
          margin-top: convertPxToVw(4, 480);
        }
      }
      & .details {
        padding-right: convertPxToVw(20, 480);
        & a {
          margin: convertPxToVw(16, 480) 0;
          & .ic.page {
            margin-right: convertPxToVw(4, 480);
          }
          &.btn {
            padding: convertPxToVw(8, 480) convertPxToVw(10, 480);
          }
        }
      }
    }
    & .text {
      margin-top: convertPxToVw(16, 480);
    }
    & .tag-wrapper {
      margin-top: convertPxToVw(8, 480);
    }
  }
}
