@charset "utf-8";
@import "../design_system/scss/_variables.scss", "../design_system/scss/_mixins.scss";
.sub {
  min-height: 100vh;
  overflow-x: hidden;
  &.wrapper {
    padding: 104px 0 50px;
  }
  & .mode-toggle {
    & input.toggle.right + label::after {
      border: 1px solid $gray300;
    }
    & input.toggle.right:checked + label::after {
      background-color: $secondary600;
    }
  }
  & .title {
    @include setFontSize(map-get($font, xl2-32));
    color: var(--sub-color);
    margin: 24px 0;
  }
  & .tag-wrapper {
    & .tag {
      margin: 4px;
      border: 1px solid $gray75;
    }
  }
  & .url {
    margin-bottom: 12px;
  }
  & .type-pc + .type-mo {
    margin-top: 60px;
  }
  & .description {
    @include setFontSize(map-get($font, sm-24));
    color: var(--color);

    display: none;
  }
  & .more-btn {
    @include setFlexLayout;
    background: linear-gradient(90deg, $secondary900 0%, $secondary400 100%);
    background-size: 150%;
    animation: gradient 2s ease infinite alternate-reverse;
    width: 100%;
    margin: 24px 0;
    &:hover {
      background: $secondary600;
    }
    & .ic {
      background: $white100;
      &.page {
        margin-right: 4px;
      }
    }
    &.active {
      & .arrow-down {
        transform: rotate(180deg);
      }
      & + .description {
        display: block;
      }
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}
.fix-content {
  @include setPosition(fixed, left, 0, top, 0);
  width: 100%;
  background-color: var(--bg-color);
  padding: 48px 0 24px;
  z-index: 10;
  &.top {
    padding-top: 24px;
  }
  & .title {
    margin: 0 !important;
  }
  & .scroll-progress {
    @include setPosition(absolute, left, 0, bottom, 0);
    width: 100%;
    height: 5px;
    & .bar {
      @include setPosition(absolute, left, 0, bottom, 0);
      width: 0%;
      height: 5px;
      background: $secondary600;
      transition: all 0.3s ease;
      border-radius: 0 5px 5px 0;
    }
  }
}
.scroll {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    border-top: 0;
  }
  &::-webkit-scrollbar-thumb {
    border-color: transparent;
  }
}
@include respond(480) {
  .sub {
    &.wrapper {
      padding: convertPxToVw(100, 480) 0 convertPxToVw(50, 480);
    }
    & .title {
      font-size: 1rem;
      margin: convertPxToVw(24, 480) 0;
    }
    & .url {
      margin-bottom: convertPxToVw(12, 480);
    }
    & .type-pc + .type-mo {
      margin-top: convertPxToVw(60, 480);
    }
    & .more-btn {
      margin: convertPxToVw(24, 480) 0;
    }
  }
  .fix-content {
    padding: convertPxToVw(48, 480) 0 convertPxToVw(24, 480);
    &.top {
      padding-top: convertPxToVw(24, 480);
    }
  }
}
@include respond(380) {
  .sub {
    &.wrapper {
      padding-top: convertPxToVw(100, 380);
    }
    .mode-toggle {
      & span {
        display: block;
      }
      & input.toggle.right:checked + label::before {
        top: calc(50% + 5px);
      }
    }
  }
  .fix-content {
    padding: convertPxToVw(24, 380) 0;
  }
}
