@charset "utf-8";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
  color: $base-text-color;
  -webkit-tap-highlight-color: transparent;
  font-family: $base-font-family, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ol,
ul,
li {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  font-size: inherit;
  text-decoration: none;
  background: transparent;
  color: inherit;
  outline: transparent;
  cursor: pointer;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent;
}
img {
  vertical-align: top;
}
button {
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  cursor: pointer;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent;
}
small {
  font-size: smaller;
}
input,
textarea,
select {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  font-size: 100%;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
}
/* ie input스타일 */
input::-ms-check {
  display: none;
}
select::-ms-expand {
  display: none;
}
input[type="checkbox"] {
  display: none;
  cursor: pointer;
}
input[type="radio"] {
  display: none;
  cursor: pointer;
}
hr {
  width: 100%;
  height: 1px;
  background: $gray100;
}
// 마우스 커서 변경
html,
body * {
  cursor: url(../img/icon/mouse-pointer.svg) 20 20, auto;
}
a,
a *,
button,
button * {
  cursor: url(../img/icon/mouse-pointer.svg) 20 20, pointer;
}
input,
textarea {
  cursor: url(../img/icon/mouse-text.svg) 25 25, text;
}
