.fc-gray-25 {
  color: #f8f8f8 !important;
}

.bg-gray-25 {
  background-color: #f8f8f8 !important;
}

.bd-gray-25 {
  border-color: #f8f8f8 !important;
}

.fc-gray-50 {
  color: #f3f3f4 !important;
}

.bg-gray-50 {
  background-color: #f3f3f4 !important;
}

.bd-gray-50 {
  border-color: #f3f3f4 !important;
}

.fc-gray-75 {
  color: #ececed !important;
}

.bg-gray-75 {
  background-color: #ececed !important;
}

.bd-gray-75 {
  border-color: #ececed !important;
}

.fc-gray-100 {
  color: #e2e2e4 !important;
}

.bg-gray-100 {
  background-color: #e2e2e4 !important;
}

.bd-gray-100 {
  border-color: #e2e2e4 !important;
}

.fc-gray-200 {
  color: #d9d8dc !important;
}

.bg-gray-200 {
  background-color: #d9d8dc !important;
}

.bd-gray-200 {
  border-color: #d9d8dc !important;
}

.fc-gray-300 {
  color: #c6c5ca !important;
}

.bg-gray-300 {
  background-color: #c6c5ca !important;
}

.bd-gray-300 {
  border-color: #c6c5ca !important;
}

.fc-gray-400 {
  color: #b3b1b8 !important;
}

.bg-gray-400 {
  background-color: #b3b1b8 !important;
}

.bd-gray-400 {
  border-color: #b3b1b8 !important;
}

.fc-gray-500 {
  color: #8d8a95 !important;
}

.bg-gray-500 {
  background-color: #8d8a95 !important;
}

.bd-gray-500 {
  border-color: #8d8a95 !important;
}

.fc-gray-600 {
  color: #676472 !important;
}

.bg-gray-600 {
  background-color: #676472 !important;
}

.bd-gray-600 {
  border-color: #676472 !important;
}

.fc-gray-700 {
  color: #4f4b5c !important;
}

.bg-gray-700 {
  background-color: #4f4b5c !important;
}

.bd-gray-700 {
  border-color: #4f4b5c !important;
}

.fc-gray-800 {
  color: #2e293d !important;
}

.bg-gray-800 {
  background-color: #2e293d !important;
}

.bd-gray-800 {
  border-color: #2e293d !important;
}

.fc-gray-900 {
  color: #110c22 !important;
}

.bg-gray-900 {
  background-color: #110c22 !important;
}

.bd-gray-900 {
  border-color: #110c22 !important;
}

.fc-primary-25 {
  color: #f9f8ff !important;
}

.bg-primary-25 {
  background-color: #f9f8ff !important;
}

.bd-primary-25 {
  border-color: #f9f8ff !important;
}

.fc-primary-50 {
  color: #f1eeff !important;
}

.bg-primary-50 {
  background-color: #f1eeff !important;
}

.bd-primary-50 {
  border-color: #f1eeff !important;
}

.fc-primary-75 {
  color: #e2dcff !important;
}

.bg-primary-75 {
  background-color: #e2dcff !important;
}

.bd-primary-75 {
  border-color: #e2dcff !important;
}

.fc-primary-100 {
  color: #c6bbff !important;
}

.bg-primary-100 {
  background-color: #c6bbff !important;
}

.bd-primary-100 {
  border-color: #c6bbff !important;
}

.fc-primary-200 {
  color: #bcafff !important;
}

.bg-primary-200 {
  background-color: #bcafff !important;
}

.bd-primary-200 {
  border-color: #bcafff !important;
}

.fc-primary-300 {
  color: #a797ff !important;
}

.bg-primary-300 {
  background-color: #a797ff !important;
}

.bd-primary-300 {
  border-color: #a797ff !important;
}

.fc-primary-400 {
  color: #8b75ff !important;
}

.bg-primary-400 {
  background-color: #8b75ff !important;
}

.bd-primary-400 {
  border-color: #8b75ff !important;
}

.fc-primary-500 {
  color: #7357ff !important;
}

.bg-primary-500 {
  background-color: #7357ff !important;
}

.bd-primary-500 {
  border-color: #7357ff !important;
}

.fc-primary-600 {
  color: #6347f4 !important;
}

.bg-primary-600 {
  background-color: #6347f4 !important;
}

.bd-primary-600 {
  border-color: #6347f4 !important;
}

.fc-primary-700 {
  color: #553ade !important;
}

.bg-primary-700 {
  background-color: #553ade !important;
}

.bd-primary-700 {
  border-color: #553ade !important;
}

.fc-primary-800 {
  color: #3c28a4 !important;
}

.bg-primary-800 {
  background-color: #3c28a4 !important;
}

.bd-primary-800 {
  border-color: #3c28a4 !important;
}

.fc-primary-900 {
  color: #21194d !important;
}

.bg-primary-900 {
  background-color: #21194d !important;
}

.bd-primary-900 {
  border-color: #21194d !important;
}

.fc-secondary-25 {
  color: #f4fff5 !important;
}

.bg-secondary-25 {
  background-color: #f4fff5 !important;
}

.bd-secondary-25 {
  border-color: #f4fff5 !important;
}

.fc-secondary-50 {
  color: #e9ffea !important;
}

.bg-secondary-50 {
  background-color: #e9ffea !important;
}

.bd-secondary-50 {
  border-color: #e9ffea !important;
}

.fc-secondary-75 {
  color: #cfffd1 !important;
}

.bg-secondary-75 {
  background-color: #cfffd1 !important;
}

.bd-secondary-75 {
  border-color: #cfffd1 !important;
}

.fc-secondary-100 {
  color: #adfcb0 !important;
}

.bg-secondary-100 {
  background-color: #adfcb0 !important;
}

.bd-secondary-100 {
  border-color: #adfcb0 !important;
}

.fc-secondary-200 {
  color: #98f89c !important;
}

.bg-secondary-200 {
  background-color: #98f89c !important;
}

.bd-secondary-200 {
  border-color: #98f89c !important;
}

.fc-secondary-300 {
  color: #7ff183 !important;
}

.bg-secondary-300 {
  background-color: #7ff183 !important;
}

.bd-secondary-300 {
  border-color: #7ff183 !important;
}

.fc-secondary-400 {
  color: #5ce762 !important;
}

.bg-secondary-400 {
  background-color: #5ce762 !important;
}

.bd-secondary-400 {
  border-color: #5ce762 !important;
}

.fc-secondary-500 {
  color: #48d64e !important;
}

.bg-secondary-500 {
  background-color: #48d64e !important;
}

.bd-secondary-500 {
  border-color: #48d64e !important;
}

.fc-secondary-600 {
  color: #3bc641 !important;
}

.bg-secondary-600 {
  background-color: #3bc641 !important;
}

.bd-secondary-600 {
  border-color: #3bc641 !important;
}

.fc-secondary-700 {
  color: #37b13d !important;
}

.bg-secondary-700 {
  background-color: #37b13d !important;
}

.bd-secondary-700 {
  border-color: #37b13d !important;
}

.fc-secondary-800 {
  color: #2d8331 !important;
}

.bg-secondary-800 {
  background-color: #2d8331 !important;
}

.bd-secondary-800 {
  border-color: #2d8331 !important;
}

.fc-secondary-900 {
  color: #143e16 !important;
}

.bg-secondary-900 {
  background-color: #143e16 !important;
}

.bd-secondary-900 {
  border-color: #143e16 !important;
}

.fc-black-4 {
  color: rgba(0, 0, 0, 0.04) !important;
}

.bg-black-4 {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.bd-black-4 {
  border-color: rgba(0, 0, 0, 0.04) !important;
}

.fc-black-7 {
  color: rgba(0, 0, 0, 0.07) !important;
}

.bg-black-7 {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

.bd-black-7 {
  border-color: rgba(0, 0, 0, 0.07) !important;
}

.fc-black-12 {
  color: rgba(0, 0, 0, 0.12) !important;
}

.bg-black-12 {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.bd-black-12 {
  border-color: rgba(0, 0, 0, 0.12) !important;
}

.fc-black-16 {
  color: rgba(0, 0, 0, 0.16) !important;
}

.bg-black-16 {
  background-color: rgba(0, 0, 0, 0.16) !important;
}

.bd-black-16 {
  border-color: rgba(0, 0, 0, 0.16) !important;
}

.fc-black-20 {
  color: rgba(0, 0, 0, 0.2) !important;
}

.bg-black-20 {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.bd-black-20 {
  border-color: rgba(0, 0, 0, 0.2) !important;
}

.fc-black-24 {
  color: rgba(0, 0, 0, 0.24) !important;
}

.bg-black-24 {
  background-color: rgba(0, 0, 0, 0.24) !important;
}

.bd-black-24 {
  border-color: rgba(0, 0, 0, 0.24) !important;
}

.fc-black-32 {
  color: rgba(0, 0, 0, 0.32) !important;
}

.bg-black-32 {
  background-color: rgba(0, 0, 0, 0.32) !important;
}

.bd-black-32 {
  border-color: rgba(0, 0, 0, 0.32) !important;
}

.fc-black-48 {
  color: rgba(0, 0, 0, 0.48) !important;
}

.bg-black-48 {
  background-color: rgba(0, 0, 0, 0.48) !important;
}

.bd-black-48 {
  border-color: rgba(0, 0, 0, 0.48) !important;
}

.fc-black-64 {
  color: rgba(0, 0, 0, 0.64) !important;
}

.bg-black-64 {
  background-color: rgba(0, 0, 0, 0.64) !important;
}

.bd-black-64 {
  border-color: rgba(0, 0, 0, 0.64) !important;
}

.fc-black-76 {
  color: rgba(0, 0, 0, 0.76) !important;
}

.bg-black-76 {
  background-color: rgba(0, 0, 0, 0.76) !important;
}

.bd-black-76 {
  border-color: rgba(0, 0, 0, 0.76) !important;
}

.fc-black-88 {
  color: rgba(0, 0, 0, 0.88) !important;
}

.bg-black-88 {
  background-color: rgba(0, 0, 0, 0.88) !important;
}

.bd-black-88 {
  border-color: rgba(0, 0, 0, 0.88) !important;
}

.fc-black-100 {
  color: rgb(0, 0, 0) !important;
}

.bg-black-100 {
  background-color: rgb(0, 0, 0) !important;
}

.bd-black-100 {
  border-color: rgb(0, 0, 0) !important;
}

.fc-white-4 {
  color: rgba(255, 255, 255, 0.04) !important;
}

.bg-white-4 {
  background-color: rgba(255, 255, 255, 0.04) !important;
}

.bd-white-4 {
  border-color: rgba(255, 255, 255, 0.04) !important;
}

.fc-white-7 {
  color: rgba(255, 255, 255, 0.07) !important;
}

.bg-white-7 {
  background-color: rgba(255, 255, 255, 0.07) !important;
}

.bd-white-7 {
  border-color: rgba(255, 255, 255, 0.07) !important;
}

.fc-white-12 {
  color: rgba(255, 255, 255, 0.12) !important;
}

.bg-white-12 {
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.bd-white-12 {
  border-color: rgba(255, 255, 255, 0.12) !important;
}

.fc-white-16 {
  color: rgba(255, 255, 255, 0.16) !important;
}

.bg-white-16 {
  background-color: rgba(255, 255, 255, 0.16) !important;
}

.bd-white-16 {
  border-color: rgba(255, 255, 255, 0.16) !important;
}

.fc-white-20 {
  color: rgba(255, 255, 255, 0.2) !important;
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.bd-white-20 {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.fc-white-24 {
  color: rgba(255, 255, 255, 0.24) !important;
}

.bg-white-24 {
  background-color: rgba(255, 255, 255, 0.24) !important;
}

.bd-white-24 {
  border-color: rgba(255, 255, 255, 0.24) !important;
}

.fc-white-32 {
  color: rgba(255, 255, 255, 0.32) !important;
}

.bg-white-32 {
  background-color: rgba(255, 255, 255, 0.32) !important;
}

.bd-white-32 {
  border-color: rgba(255, 255, 255, 0.32) !important;
}

.fc-white-48 {
  color: rgba(255, 255, 255, 0.48) !important;
}

.bg-white-48 {
  background-color: rgba(255, 255, 255, 0.48) !important;
}

.bd-white-48 {
  border-color: rgba(255, 255, 255, 0.48) !important;
}

.fc-white-64 {
  color: rgba(255, 255, 255, 0.64) !important;
}

.bg-white-64 {
  background-color: rgba(255, 255, 255, 0.64) !important;
}

.bd-white-64 {
  border-color: rgba(255, 255, 255, 0.64) !important;
}

.fc-white-76 {
  color: rgba(255, 255, 255, 0.76) !important;
}

.bg-white-76 {
  background-color: rgba(255, 255, 255, 0.76) !important;
}

.bd-white-76 {
  border-color: rgba(255, 255, 255, 0.76) !important;
}

.fc-white-88 {
  color: rgba(255, 255, 255, 0.88) !important;
}

.bg-white-88 {
  background-color: rgba(255, 255, 255, 0.88) !important;
}

.bd-white-88 {
  border-color: rgba(255, 255, 255, 0.88) !important;
}

.fc-white-100 {
  color: rgb(255, 255, 255) !important;
}

.bg-white-100 {
  background-color: rgb(255, 255, 255) !important;
}

.bd-white-100 {
  border-color: rgb(255, 255, 255) !important;
}

.fc-info-25 {
  color: #f5faff !important;
}

.bg-info-25 {
  background-color: #f5faff !important;
}

.bd-info-25 {
  border-color: #f5faff !important;
}

.fc-info-50 {
  color: #e9f4ff !important;
}

.bg-info-50 {
  background-color: #e9f4ff !important;
}

.bd-info-50 {
  border-color: #e9f4ff !important;
}

.fc-info-75 {
  color: #c2e2ff !important;
}

.bg-info-75 {
  background-color: #c2e2ff !important;
}

.bd-info-75 {
  border-color: #c2e2ff !important;
}

.fc-info-100 {
  color: #a0d2ff !important;
}

.bg-info-100 {
  background-color: #a0d2ff !important;
}

.bd-info-100 {
  border-color: #a0d2ff !important;
}

.fc-info-200 {
  color: #71bbff !important;
}

.bg-info-200 {
  background-color: #71bbff !important;
}

.bd-info-200 {
  border-color: #71bbff !important;
}

.fc-info-300 {
  color: #45a6ff !important;
}

.bg-info-300 {
  background-color: #45a6ff !important;
}

.bd-info-300 {
  border-color: #45a6ff !important;
}

.fc-info-400 {
  color: #1c92ff !important;
}

.bg-info-400 {
  background-color: #1c92ff !important;
}

.bd-info-400 {
  border-color: #1c92ff !important;
}

.fc-info-500 {
  color: #0084ff !important;
}

.bg-info-500 {
  background-color: #0084ff !important;
}

.bd-info-500 {
  border-color: #0084ff !important;
}

.fc-info-600 {
  color: #0076e2 !important;
}

.bg-info-600 {
  background-color: #0076e2 !important;
}

.bd-info-600 {
  border-color: #0076e2 !important;
}

.fc-info-700 {
  color: #0057a7 !important;
}

.bg-info-700 {
  background-color: #0057a7 !important;
}

.bd-info-700 {
  border-color: #0057a7 !important;
}

.fc-info-800 {
  color: #0c355a !important;
}

.bg-info-800 {
  background-color: #0c355a !important;
}

.bd-info-800 {
  border-color: #0c355a !important;
}

.fc-info-900 {
  color: #0d1c2b !important;
}

.bg-info-900 {
  background-color: #0d1c2b !important;
}

.bd-info-900 {
  border-color: #0d1c2b !important;
}

.fc-success-25 {
  color: #f3fdf8 !important;
}

.bg-success-25 {
  background-color: #f3fdf8 !important;
}

.bd-success-25 {
  border-color: #f3fdf8 !important;
}

.fc-success-50 {
  color: #e2fcf0 !important;
}

.bg-success-50 {
  background-color: #e2fcf0 !important;
}

.bd-success-50 {
  border-color: #e2fcf0 !important;
}

.fc-success-75 {
  color: #c6f1dd !important;
}

.bg-success-75 {
  background-color: #c6f1dd !important;
}

.bd-success-75 {
  border-color: #c6f1dd !important;
}

.fc-success-100 {
  color: #a6e9c8 !important;
}

.bg-success-100 {
  background-color: #a6e9c8 !important;
}

.bd-success-100 {
  border-color: #a6e9c8 !important;
}

.fc-success-200 {
  color: #6fdaa6 !important;
}

.bg-success-200 {
  background-color: #6fdaa6 !important;
}

.bd-success-200 {
  border-color: #6fdaa6 !important;
}

.fc-success-300 {
  color: #4dcc8f !important;
}

.bg-success-300 {
  background-color: #4dcc8f !important;
}

.bd-success-300 {
  border-color: #4dcc8f !important;
}

.fc-success-400 {
  color: #28c07a !important;
}

.bg-success-400 {
  background-color: #28c07a !important;
}

.bd-success-400 {
  border-color: #28c07a !important;
}

.fc-success-500 {
  color: #0baa60 !important;
}

.bg-success-500 {
  background-color: #0baa60 !important;
}

.bd-success-500 {
  border-color: #0baa60 !important;
}

.fc-success-600 {
  color: #0a9c55 !important;
}

.bg-success-600 {
  background-color: #0a9c55 !important;
}

.bd-success-600 {
  border-color: #0a9c55 !important;
}

.fc-success-700 {
  color: #0c7844 !important;
}

.bg-success-700 {
  background-color: #0c7844 !important;
}

.bd-success-700 {
  border-color: #0c7844 !important;
}

.fc-success-800 {
  color: #104b2f !important;
}

.bg-success-800 {
  background-color: #104b2f !important;
}

.bd-success-800 {
  border-color: #104b2f !important;
}

.fc-success-900 {
  color: #0d1f11 !important;
}

.bg-success-900 {
  background-color: #0d1f11 !important;
}

.bd-success-900 {
  border-color: #0d1f11 !important;
}

.fc-warning-25 {
  color: #fffaed !important;
}

.bg-warning-25 {
  background-color: #fffaed !important;
}

.bd-warning-25 {
  border-color: #fffaed !important;
}

.fc-warning-50 {
  color: #fff5db !important;
}

.bg-warning-50 {
  background-color: #fff5db !important;
}

.bd-warning-50 {
  border-color: #fff5db !important;
}

.fc-warning-75 {
  color: #ffecba !important;
}

.bg-warning-75 {
  background-color: #ffecba !important;
}

.bd-warning-75 {
  border-color: #ffecba !important;
}

.fc-warning-100 {
  color: #ffdd86 !important;
}

.bg-warning-100 {
  background-color: #ffdd86 !important;
}

.bd-warning-100 {
  border-color: #ffdd86 !important;
}

.fc-warning-200 {
  color: #ffcb45 !important;
}

.bg-warning-200 {
  background-color: #ffcb45 !important;
}

.bd-warning-200 {
  border-color: #ffcb45 !important;
}

.fc-warning-300 {
  color: #fdba0f !important;
}

.bg-warning-300 {
  background-color: #fdba0f !important;
}

.bd-warning-300 {
  border-color: #fdba0f !important;
}

.fc-warning-400 {
  color: #f2aa09 !important;
}

.bg-warning-400 {
  background-color: #f2aa09 !important;
}

.bd-warning-400 {
  border-color: #f2aa09 !important;
}

.fc-warning-500 {
  color: #e09400 !important;
}

.bg-warning-500 {
  background-color: #e09400 !important;
}

.bd-warning-500 {
  border-color: #e09400 !important;
}

.fc-warning-600 {
  color: #d07d00 !important;
}

.bg-warning-600 {
  background-color: #d07d00 !important;
}

.bd-warning-600 {
  border-color: #d07d00 !important;
}

.fc-warning-700 {
  color: #b55e0f !important;
}

.bg-warning-700 {
  background-color: #b55e0f !important;
}

.bd-warning-700 {
  border-color: #b55e0f !important;
}

.fc-warning-800 {
  color: #5c3111 !important;
}

.bg-warning-800 {
  background-color: #5c3111 !important;
}

.bd-warning-800 {
  border-color: #5c3111 !important;
}

.fc-warning-900 {
  color: #27170b !important;
}

.bg-warning-900 {
  background-color: #27170b !important;
}

.bd-warning-900 {
  border-color: #27170b !important;
}

.fc-danger-25 {
  color: #fff9f9 !important;
}

.bg-danger-25 {
  background-color: #fff9f9 !important;
}

.bd-danger-25 {
  border-color: #fff9f9 !important;
}

.fc-danger-50 {
  color: #fff1f1 !important;
}

.bg-danger-50 {
  background-color: #fff1f1 !important;
}

.bd-danger-50 {
  border-color: #fff1f1 !important;
}

.fc-danger-75 {
  color: #ffe0e0 !important;
}

.bg-danger-75 {
  background-color: #ffe0e0 !important;
}

.bd-danger-75 {
  border-color: #ffe0e0 !important;
}

.fc-danger-100 {
  color: #ffc7c7 !important;
}

.bg-danger-100 {
  background-color: #ffc7c7 !important;
}

.bd-danger-100 {
  border-color: #ffc7c7 !important;
}

.fc-danger-200 {
  color: #ffa7a7 !important;
}

.bg-danger-200 {
  background-color: #ffa7a7 !important;
}

.bd-danger-200 {
  border-color: #ffa7a7 !important;
}

.fc-danger-300 {
  color: #ff8080 !important;
}

.bg-danger-300 {
  background-color: #ff8080 !important;
}

.bd-danger-300 {
  border-color: #ff8080 !important;
}

.fc-danger-400 {
  color: #f95e5e !important;
}

.bg-danger-400 {
  background-color: #f95e5e !important;
}

.bd-danger-400 {
  border-color: #f95e5e !important;
}

.fc-danger-500 {
  color: #f03d3d !important;
}

.bg-danger-500 {
  background-color: #f03d3d !important;
}

.bd-danger-500 {
  border-color: #f03d3d !important;
}

.fc-danger-600 {
  color: #cf2a2a !important;
}

.bg-danger-600 {
  background-color: #cf2a2a !important;
}

.bd-danger-600 {
  border-color: #cf2a2a !important;
}

.fc-danger-700 {
  color: #a41f1f !important;
}

.bg-danger-700 {
  background-color: #a41f1f !important;
}

.bd-danger-700 {
  border-color: #a41f1f !important;
}

.fc-danger-800 {
  color: #591a1a !important;
}

.bg-danger-800 {
  background-color: #591a1a !important;
}

.bd-danger-800 {
  border-color: #591a1a !important;
}

.fc-danger-900 {
  color: #271111 !important;
}

.bg-danger-900 {
  background-color: #271111 !important;
}

.bd-danger-900 {
  border-color: #271111 !important;
}

*[class*=bd-] {
  border-width: 1px;
  border-style: solid;
}

.flex-box {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
.flex-box.start {
  justify-content: flex-start;
}
.flex-box.nowrap {
  flex-wrap: nowrap;
}
.flex-box.center {
  justify-content: center;
}
.flex-box.va-center {
  align-items: center;
}
.flex-box.self-center {
  align-self: center;
}
.flex-box.respon [class*=grid-item-] {
  margin-bottom: 12px;
}
.flex-box.respon [class*=grid-item-]:last-of-type {
  margin-right: 0;
}
.flex-box .grid-item-1 {
  width: 100%;
}
.flex-box .grid-item-2 {
  width: calc((100% - 24px * 1) / 2);
}
.flex-box .grid-item-3 {
  width: calc((100% - 24px * 2) / 3);
}
.flex-box .grid-item-4 {
  width: calc((100% - 24px * 3) / 4);
}
.flex-box .grid-item-6 {
  width: calc((100% - 24px * 5) / 6);
}
.flex-box .grid-item-12 {
  width: calc((100% - 24px * 11) / 12);
}
.flex-box .grid-item-12-2 {
  width: calc((100% - 24px * 11) / 12 * 2 + 24px * 1);
}
.flex-box .grid-item-12-3 {
  width: calc((100% - 24px * 11) / 12 * 3 + 24px * 2);
}
.flex-box .grid-item-12-4 {
  width: calc((100% - 24px * 11) / 12 * 4 + 24px * 3);
}
.flex-box .grid-item-12-5 {
  width: calc((100% - 24px * 11) / 12 * 5 + 24px * 4);
}
.flex-box .grid-item-12-6 {
  width: calc((100% - 24px * 11) / 12 * 6 + 24px * 5);
}
.flex-box .grid-item-12-7 {
  width: calc((100% - 24px * 11) / 12 * 7 + 24px * 6);
}
.flex-box .grid-item-12-8 {
  width: calc((100% - 24px * 11) / 12 * 8 + 24px * 7);
}
.flex-box .grid-item-12-9 {
  width: calc((100% - 24px * 11) / 12 * 9 + 24px * 8);
}
.flex-box .grid-item-12-10 {
  width: calc((100% - 24px * 11) / 12 * 10 + 24px * 9);
}
.flex-box .grid-item-12-11 {
  width: calc((100% - 24px * 11) / 12 * 11 + 24px * 10);
}

.col2 > * {
  width: 50%;
}
.col2 .wide {
  width: 66.6666666667%;
}
.col2 .narrow {
  width: 33.3333333333%;
}
.col2 .narrow.half {
  width: 25%;
}
.col2 .wide.double {
  width: 75%;
}

.col3 > * {
  width: 33.3333333333%;
}

.col4 > * {
  width: 25%;
}
.col4 > *.half {
  width: 50%;
}

.col5 > * {
  width: 20%;
}

.col6 > * {
  width: 16.6666666667%;
}

.col10 > * {
  width: 10%;
}

.col12 > * {
  width: 8.3333333333%;
}

@media all and (max-width: 1440px) {
  .flex-box.respon .grid-item-12 {
    width: calc((100% - 24px * 5) / 6);
  }
  .flex-box.respon .grid-item-12:nth-of-type(6) {
    margin-right: 0;
  }
}
@media all and (max-width: 1080px) {
  .flex-box.respon .grid-item-6, .flex-box.respon .grid-item-12 {
    width: calc((100% - 24px * 2) / 3);
  }
  .flex-box.respon .grid-item-6:nth-of-type(3), .flex-box.respon .grid-item-12:nth-of-type(3) {
    margin-right: 0;
  }
}
@media all and (max-width: 960px) {
  .flex-box.respon .grid-item-4 {
    width: calc((100% - 24px * 1) / 2);
  }
  .flex-box.respon .grid-item-4:nth-of-type(2) {
    margin-right: 0;
  }
}
@media all and (max-width: 768px) {
  .flex-box.respon .grid-item-3, .flex-box.respon .grid-item-6, .flex-box.respon .grid-item-12 {
    margin-right: 0;
    width: 100%;
  }
}
@media all and (max-width: 640px) {
  .flex-box.respon .grid-item-2, .flex-box.respon .grid-item-4 {
    margin-right: 0;
    width: 100%;
  }
}
.ic {
  display: inline-block;
  vertical-align: middle;
  background-color: black;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}
.ic:not([class*=mr]):not([class*=ml]) {
  margin: 0 auto;
}
.ic-xl3 {
  width: 40px;
  height: 40px;
}
.ic-xl2 {
  width: 36px;
  height: 36px;
}
.ic-xl {
  width: 32px;
  height: 32px;
}
.ic-lg {
  width: 28px;
  height: 28px;
}
.ic-md {
  width: 24px;
  height: 24px;
}
.ic-sm {
  width: 20px;
  height: 20px;
}
.ic-xs {
  width: 18px;
  height: 18px;
}
.ic-xs2 {
  width: 16px;
  height: 16px;
}
.ic-xs3 {
  width: 14px;
  height: 14px;
}
.ic-xs4 {
  width: 12px;
  height: 12px;
}
.ic.arrow-left {
  -webkit-mask-image: url("../img/icon/arrow-left.svg");
  mask-image: url("../img/icon/arrow-left.svg");
}
.ic.arrow-right {
  -webkit-mask-image: url("../img/icon/arrow-right.svg");
  mask-image: url("../img/icon/arrow-right.svg");
}
.ic.arrow-up {
  -webkit-mask-image: url("../img/icon/arrow-up.svg");
  mask-image: url("../img/icon/arrow-up.svg");
}
.ic.arrow-down {
  -webkit-mask-image: url("../img/icon/arrow-down.svg");
  mask-image: url("../img/icon/arrow-down.svg");
}
.ic.arrow-up-left {
  -webkit-mask-image: url("../img/icon/arrow-up-left.svg");
  mask-image: url("../img/icon/arrow-up-left.svg");
}
.ic.arrow-up-right {
  -webkit-mask-image: url("../img/icon/arrow-up-right.svg");
  mask-image: url("../img/icon/arrow-up-right.svg");
}
.ic.arrow-down-left {
  -webkit-mask-image: url("../img/icon/arrow-down-left.svg");
  mask-image: url("../img/icon/arrow-down-left.svg");
}
.ic.arrow-down-right {
  -webkit-mask-image: url("../img/icon/arrow-down-right.svg");
  mask-image: url("../img/icon/arrow-down-right.svg");
}
.ic.arrow-circle-left {
  -webkit-mask-image: url("../img/icon/arrow-left-circle.svg");
  mask-image: url("../img/icon/arrow-left-circle.svg");
}
.ic.arrow-circle-right {
  -webkit-mask-image: url("../img/icon/arrow-right-circle.svg");
  mask-image: url("../img/icon/arrow-right-circle.svg");
}
.ic.arrow-circle-up {
  -webkit-mask-image: url("../img/icon/arrow-up-circle.svg");
  mask-image: url("../img/icon/arrow-up-circle.svg");
}
.ic.arrow-circle-down {
  -webkit-mask-image: url("../img/icon/arrow-down-circle.svg");
  mask-image: url("../img/icon/arrow-down-circle.svg");
}
.ic.chevron-left {
  -webkit-mask-image: url("../img/icon/chevron-left.svg");
  mask-image: url("../img/icon/chevron-left.svg");
}
.ic.chevron-right {
  -webkit-mask-image: url("../img/icon/chevron-right.svg");
  mask-image: url("../img/icon/chevron-right.svg");
}
.ic.chevron-up {
  -webkit-mask-image: url("../img/icon/chevron-up.svg");
  mask-image: url("../img/icon/chevron-up.svg");
}
.ic.chevron-down {
  -webkit-mask-image: url("../img/icon/chevron-down.svg");
  mask-image: url("../img/icon/chevron-down.svg");
}
.ic.chevrons-left {
  -webkit-mask-image: url("../img/icon/chevrons-left.svg");
  mask-image: url("../img/icon/chevrons-left.svg");
}
.ic.chevrons-right {
  -webkit-mask-image: url("../img/icon/chevrons-right.svg");
  mask-image: url("../img/icon/chevrons-right.svg");
}
.ic.chevrons-up {
  -webkit-mask-image: url("../img/icon/chevrons-up.svg");
  mask-image: url("../img/icon/chevrons-up.svg");
}
.ic.chevrons-down {
  -webkit-mask-image: url("../img/icon/chevrons-down.svg");
  mask-image: url("../img/icon/chevrons-down.svg");
}
.ic.alarm {
  -webkit-mask-image: url("../img/icon/alarm.svg");
  mask-image: url("../img/icon/alarm.svg");
}
.ic.download {
  -webkit-mask-image: url("../img/icon/download.svg");
  mask-image: url("../img/icon/download.svg");
}
.ic.upload {
  -webkit-mask-image: url("../img/icon/upload.svg");
  mask-image: url("../img/icon/upload.svg");
}
.ic.edit {
  -webkit-mask-image: url("../img/icon/edit.svg");
  mask-image: url("../img/icon/edit.svg");
}
.ic.eye-hide {
  -webkit-mask-image: url("../img/icon/eye-hide.svg");
  mask-image: url("../img/icon/eye-hide.svg");
}
.ic.eye-view {
  -webkit-mask-image: url("../img/icon/eye-view.svg");
  mask-image: url("../img/icon/eye-view.svg");
}
.ic.like-full {
  -webkit-mask-image: url("../img/icon/like_full.svg");
  mask-image: url("../img/icon/like_full.svg");
}
.ic.menu {
  -webkit-mask-image: url("../img/icon/menu.svg");
  mask-image: url("../img/icon/menu.svg");
}
.ic.user {
  -webkit-mask-image: url("../img/icon/user.svg");
  mask-image: url("../img/icon/user.svg");
}
.ic.link {
  -webkit-mask-image: url("../img/icon/link.svg");
  mask-image: url("../img/icon/link.svg");
}
.ic.search {
  -webkit-mask-image: url("../img/icon/search.svg");
  mask-image: url("../img/icon/search.svg");
}
.ic.setting {
  -webkit-mask-image: url("../img/icon/settings.svg");
  mask-image: url("../img/icon/settings.svg");
}
.ic.exclamation {
  -webkit-mask-image: url("../img/icon/exclamation.svg");
  mask-image: url("../img/icon/exclamation.svg");
}
.ic.info {
  -webkit-mask-image: url("../img/icon/info.svg");
  mask-image: url("../img/icon/info.svg");
}
.ic.warning {
  -webkit-mask-image: url("../img/icon/warning.svg");
  mask-image: url("../img/icon/warning.svg");
}
.ic.plus {
  -webkit-mask-image: url("../img/icon/plus.svg");
  mask-image: url("../img/icon/plus.svg");
}
.ic.minus {
  -webkit-mask-image: url("../img/icon/minus.svg");
  mask-image: url("../img/icon/minus.svg");
}
.ic.x {
  -webkit-mask-image: url("../img/icon/x.svg");
  mask-image: url("../img/icon/x.svg");
}
.ic.tick {
  -webkit-mask-image: url("../img/icon/tick.svg");
  mask-image: url("../img/icon/tick.svg");
}
.ic.trash {
  -webkit-mask-image: url("../img/icon/trash.svg");
  mask-image: url("../img/icon/trash.svg");
}
.ic.page {
  -webkit-mask-image: url("../img/icon/page.svg");
  mask-image: url("../img/icon/page.svg");
}

.m0 {
  margin: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.m2 {
  margin: 2px;
}

.ml2 {
  margin-left: 2px;
}

.mr2 {
  margin-right: 2px;
}

.mt2 {
  margin-top: 2px;
}

.mb2 {
  margin-bottom: 2px;
}

.m4 {
  margin: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mr4 {
  margin-right: 4px;
}

.mt4 {
  margin-top: 4px;
}

.mb4 {
  margin-bottom: 4px;
}

.m6 {
  margin: 6px;
}

.ml6 {
  margin-left: 6px;
}

.mr6 {
  margin-right: 6px;
}

.mt6 {
  margin-top: 6px;
}

.mb6 {
  margin-bottom: 6px;
}

.m8 {
  margin: 8px;
}

.ml8 {
  margin-left: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.m10 {
  margin: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.m12 {
  margin: 12px;
}

.ml12 {
  margin-left: 12px;
}

.mr12 {
  margin-right: 12px;
}

.mt12 {
  margin-top: 12px;
}

.mb12 {
  margin-bottom: 12px;
}

.m14 {
  margin: 14px;
}

.ml14 {
  margin-left: 14px;
}

.mr14 {
  margin-right: 14px;
}

.mt14 {
  margin-top: 14px;
}

.mb14 {
  margin-bottom: 14px;
}

.m16 {
  margin: 16px;
}

.ml16 {
  margin-left: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mt16 {
  margin-top: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.m18 {
  margin: 18px;
}

.ml18 {
  margin-left: 18px;
}

.mr18 {
  margin-right: 18px;
}

.mt18 {
  margin-top: 18px;
}

.mb18 {
  margin-bottom: 18px;
}

.m20 {
  margin: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.m22 {
  margin: 22px;
}

.ml22 {
  margin-left: 22px;
}

.mr22 {
  margin-right: 22px;
}

.mt22 {
  margin-top: 22px;
}

.mb22 {
  margin-bottom: 22px;
}

.m24 {
  margin: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mr24 {
  margin-right: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.m26 {
  margin: 26px;
}

.ml26 {
  margin-left: 26px;
}

.mr26 {
  margin-right: 26px;
}

.mt26 {
  margin-top: 26px;
}

.mb26 {
  margin-bottom: 26px;
}

.m28 {
  margin: 28px;
}

.ml28 {
  margin-left: 28px;
}

.mr28 {
  margin-right: 28px;
}

.mt28 {
  margin-top: 28px;
}

.mb28 {
  margin-bottom: 28px;
}

.m30 {
  margin: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.m32 {
  margin: 32px;
}

.ml32 {
  margin-left: 32px;
}

.mr32 {
  margin-right: 32px;
}

.mt32 {
  margin-top: 32px;
}

.mb32 {
  margin-bottom: 32px;
}

.m34 {
  margin: 34px;
}

.ml34 {
  margin-left: 34px;
}

.mr34 {
  margin-right: 34px;
}

.mt34 {
  margin-top: 34px;
}

.mb34 {
  margin-bottom: 34px;
}

.m36 {
  margin: 36px;
}

.ml36 {
  margin-left: 36px;
}

.mr36 {
  margin-right: 36px;
}

.mt36 {
  margin-top: 36px;
}

.mb36 {
  margin-bottom: 36px;
}

.m38 {
  margin: 38px;
}

.ml38 {
  margin-left: 38px;
}

.mr38 {
  margin-right: 38px;
}

.mt38 {
  margin-top: 38px;
}

.mb38 {
  margin-bottom: 38px;
}

.m40 {
  margin: 40px;
}

.ml40 {
  margin-left: 40px;
}

.mr40 {
  margin-right: 40px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.p0 {
  padding: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.p2 {
  padding: 2px;
}

.pl2 {
  padding-left: 2px;
}

.pr2 {
  padding-right: 2px;
}

.pt2 {
  padding-top: 2px;
}

.pb2 {
  padding-bottom: 2px;
}

.p4 {
  padding: 4px;
}

.pl4 {
  padding-left: 4px;
}

.pr4 {
  padding-right: 4px;
}

.pt4 {
  padding-top: 4px;
}

.pb4 {
  padding-bottom: 4px;
}

.p6 {
  padding: 6px;
}

.pl6 {
  padding-left: 6px;
}

.pr6 {
  padding-right: 6px;
}

.pt6 {
  padding-top: 6px;
}

.pb6 {
  padding-bottom: 6px;
}

.p8 {
  padding: 8px;
}

.pl8 {
  padding-left: 8px;
}

.pr8 {
  padding-right: 8px;
}

.pt8 {
  padding-top: 8px;
}

.pb8 {
  padding-bottom: 8px;
}

.p10 {
  padding: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.p12 {
  padding: 12px;
}

.pl12 {
  padding-left: 12px;
}

.pr12 {
  padding-right: 12px;
}

.pt12 {
  padding-top: 12px;
}

.pb12 {
  padding-bottom: 12px;
}

.p14 {
  padding: 14px;
}

.pl14 {
  padding-left: 14px;
}

.pr14 {
  padding-right: 14px;
}

.pt14 {
  padding-top: 14px;
}

.pb14 {
  padding-bottom: 14px;
}

.p16 {
  padding: 16px;
}

.pl16 {
  padding-left: 16px;
}

.pr16 {
  padding-right: 16px;
}

.pt16 {
  padding-top: 16px;
}

.pb16 {
  padding-bottom: 16px;
}

.p18 {
  padding: 18px;
}

.pl18 {
  padding-left: 18px;
}

.pr18 {
  padding-right: 18px;
}

.pt18 {
  padding-top: 18px;
}

.pb18 {
  padding-bottom: 18px;
}

.p20 {
  padding: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.p22 {
  padding: 22px;
}

.pl22 {
  padding-left: 22px;
}

.pr22 {
  padding-right: 22px;
}

.pt22 {
  padding-top: 22px;
}

.pb22 {
  padding-bottom: 22px;
}

.p24 {
  padding: 24px;
}

.pl24 {
  padding-left: 24px;
}

.pr24 {
  padding-right: 24px;
}

.pt24 {
  padding-top: 24px;
}

.pb24 {
  padding-bottom: 24px;
}

.p26 {
  padding: 26px;
}

.pl26 {
  padding-left: 26px;
}

.pr26 {
  padding-right: 26px;
}

.pt26 {
  padding-top: 26px;
}

.pb26 {
  padding-bottom: 26px;
}

.p28 {
  padding: 28px;
}

.pl28 {
  padding-left: 28px;
}

.pr28 {
  padding-right: 28px;
}

.pt28 {
  padding-top: 28px;
}

.pb28 {
  padding-bottom: 28px;
}

.p30 {
  padding: 30px;
}

.pl30 {
  padding-left: 30px;
}

.pr30 {
  padding-right: 30px;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.p32 {
  padding: 32px;
}

.pl32 {
  padding-left: 32px;
}

.pr32 {
  padding-right: 32px;
}

.pt32 {
  padding-top: 32px;
}

.pb32 {
  padding-bottom: 32px;
}

.p34 {
  padding: 34px;
}

.pl34 {
  padding-left: 34px;
}

.pr34 {
  padding-right: 34px;
}

.pt34 {
  padding-top: 34px;
}

.pb34 {
  padding-bottom: 34px;
}

.p36 {
  padding: 36px;
}

.pl36 {
  padding-left: 36px;
}

.pr36 {
  padding-right: 36px;
}

.pt36 {
  padding-top: 36px;
}

.pb36 {
  padding-bottom: 36px;
}

.p38 {
  padding: 38px;
}

.pl38 {
  padding-left: 38px;
}

.pr38 {
  padding-right: 38px;
}

.pt38 {
  padding-top: 38px;
}

.pb38 {
  padding-bottom: 38px;
}

.p40 {
  padding: 40px;
}

.pl40 {
  padding-left: 40px;
}

.pr40 {
  padding-right: 40px;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

@media all and (max-width: 480px) {
  .m0 {
    margin: 0 !important;
  }
  .ml0 {
    margin-left: 0 !important;
  }
  .mr0 {
    margin-right: 0 !important;
  }
  .mt0 {
    margin-top: 0 !important;
  }
  .mb0 {
    margin-bottom: 0 !important;
  }
  .m2 {
    margin: 0.4166666667vw;
  }
  .ml2 {
    margin-left: 0.4166666667vw;
  }
  .mr2 {
    margin-right: 0.4166666667vw;
  }
  .mt2 {
    margin-top: 0.4166666667vw;
  }
  .mb2 {
    margin-bottom: 0.4166666667vw;
  }
  .m4 {
    margin: 0.8333333333vw;
  }
  .ml4 {
    margin-left: 0.8333333333vw;
  }
  .mr4 {
    margin-right: 0.8333333333vw;
  }
  .mt4 {
    margin-top: 0.8333333333vw;
  }
  .mb4 {
    margin-bottom: 0.8333333333vw;
  }
  .m6 {
    margin: 1.25vw;
  }
  .ml6 {
    margin-left: 1.25vw;
  }
  .mr6 {
    margin-right: 1.25vw;
  }
  .mt6 {
    margin-top: 1.25vw;
  }
  .mb6 {
    margin-bottom: 1.25vw;
  }
  .m8 {
    margin: 1.6666666667vw;
  }
  .ml8 {
    margin-left: 1.6666666667vw;
  }
  .mr8 {
    margin-right: 1.6666666667vw;
  }
  .mt8 {
    margin-top: 1.6666666667vw;
  }
  .mb8 {
    margin-bottom: 1.6666666667vw;
  }
  .m10 {
    margin: 2.0833333333vw;
  }
  .ml10 {
    margin-left: 2.0833333333vw;
  }
  .mr10 {
    margin-right: 2.0833333333vw;
  }
  .mt10 {
    margin-top: 2.0833333333vw;
  }
  .mb10 {
    margin-bottom: 2.0833333333vw;
  }
  .m12 {
    margin: 2.5vw;
  }
  .ml12 {
    margin-left: 2.5vw;
  }
  .mr12 {
    margin-right: 2.5vw;
  }
  .mt12 {
    margin-top: 2.5vw;
  }
  .mb12 {
    margin-bottom: 2.5vw;
  }
  .m14 {
    margin: 2.9166666667vw;
  }
  .ml14 {
    margin-left: 2.9166666667vw;
  }
  .mr14 {
    margin-right: 2.9166666667vw;
  }
  .mt14 {
    margin-top: 2.9166666667vw;
  }
  .mb14 {
    margin-bottom: 2.9166666667vw;
  }
  .m16 {
    margin: 3.3333333333vw;
  }
  .ml16 {
    margin-left: 3.3333333333vw;
  }
  .mr16 {
    margin-right: 3.3333333333vw;
  }
  .mt16 {
    margin-top: 3.3333333333vw;
  }
  .mb16 {
    margin-bottom: 3.3333333333vw;
  }
  .m18 {
    margin: 3.75vw;
  }
  .ml18 {
    margin-left: 3.75vw;
  }
  .mr18 {
    margin-right: 3.75vw;
  }
  .mt18 {
    margin-top: 3.75vw;
  }
  .mb18 {
    margin-bottom: 3.75vw;
  }
  .m20 {
    margin: 4.1666666667vw;
  }
  .ml20 {
    margin-left: 4.1666666667vw;
  }
  .mr20 {
    margin-right: 4.1666666667vw;
  }
  .mt20 {
    margin-top: 4.1666666667vw;
  }
  .mb20 {
    margin-bottom: 4.1666666667vw;
  }
  .m22 {
    margin: 4.5833333333vw;
  }
  .ml22 {
    margin-left: 4.5833333333vw;
  }
  .mr22 {
    margin-right: 4.5833333333vw;
  }
  .mt22 {
    margin-top: 4.5833333333vw;
  }
  .mb22 {
    margin-bottom: 4.5833333333vw;
  }
  .m24 {
    margin: 5vw;
  }
  .ml24 {
    margin-left: 5vw;
  }
  .mr24 {
    margin-right: 5vw;
  }
  .mt24 {
    margin-top: 5vw;
  }
  .mb24 {
    margin-bottom: 5vw;
  }
  .m26 {
    margin: 5.4166666667vw;
  }
  .ml26 {
    margin-left: 5.4166666667vw;
  }
  .mr26 {
    margin-right: 5.4166666667vw;
  }
  .mt26 {
    margin-top: 5.4166666667vw;
  }
  .mb26 {
    margin-bottom: 5.4166666667vw;
  }
  .m28 {
    margin: 5.8333333333vw;
  }
  .ml28 {
    margin-left: 5.8333333333vw;
  }
  .mr28 {
    margin-right: 5.8333333333vw;
  }
  .mt28 {
    margin-top: 5.8333333333vw;
  }
  .mb28 {
    margin-bottom: 5.8333333333vw;
  }
  .m30 {
    margin: 6.25vw;
  }
  .ml30 {
    margin-left: 6.25vw;
  }
  .mr30 {
    margin-right: 6.25vw;
  }
  .mt30 {
    margin-top: 6.25vw;
  }
  .mb30 {
    margin-bottom: 6.25vw;
  }
  .m32 {
    margin: 6.6666666667vw;
  }
  .ml32 {
    margin-left: 6.6666666667vw;
  }
  .mr32 {
    margin-right: 6.6666666667vw;
  }
  .mt32 {
    margin-top: 6.6666666667vw;
  }
  .mb32 {
    margin-bottom: 6.6666666667vw;
  }
  .m34 {
    margin: 7.0833333333vw;
  }
  .ml34 {
    margin-left: 7.0833333333vw;
  }
  .mr34 {
    margin-right: 7.0833333333vw;
  }
  .mt34 {
    margin-top: 7.0833333333vw;
  }
  .mb34 {
    margin-bottom: 7.0833333333vw;
  }
  .m36 {
    margin: 7.5vw;
  }
  .ml36 {
    margin-left: 7.5vw;
  }
  .mr36 {
    margin-right: 7.5vw;
  }
  .mt36 {
    margin-top: 7.5vw;
  }
  .mb36 {
    margin-bottom: 7.5vw;
  }
  .m38 {
    margin: 7.9166666667vw;
  }
  .ml38 {
    margin-left: 7.9166666667vw;
  }
  .mr38 {
    margin-right: 7.9166666667vw;
  }
  .mt38 {
    margin-top: 7.9166666667vw;
  }
  .mb38 {
    margin-bottom: 7.9166666667vw;
  }
  .m40 {
    margin: 8.3333333333vw;
  }
  .ml40 {
    margin-left: 8.3333333333vw;
  }
  .mr40 {
    margin-right: 8.3333333333vw;
  }
  .mt40 {
    margin-top: 8.3333333333vw;
  }
  .mb40 {
    margin-bottom: 8.3333333333vw;
  }
  .p0 {
    padding: 0 !important;
  }
  .pl0 {
    padding-left: 0 !important;
  }
  .pr0 {
    padding-right: 0 !important;
  }
  .pt0 {
    padding-top: 0 !important;
  }
  .pb0 {
    padding-bottom: 0 !important;
  }
  .p2 {
    padding: 0.4166666667vw;
  }
  .pl2 {
    padding-left: 0.4166666667vw;
  }
  .pr2 {
    padding-right: 0.4166666667vw;
  }
  .pt2 {
    padding-top: 0.4166666667vw;
  }
  .pb2 {
    padding-bottom: 0.4166666667vw;
  }
  .p4 {
    padding: 0.8333333333vw;
  }
  .pl4 {
    padding-left: 0.8333333333vw;
  }
  .pr4 {
    padding-right: 0.8333333333vw;
  }
  .pt4 {
    padding-top: 0.8333333333vw;
  }
  .pb4 {
    padding-bottom: 0.8333333333vw;
  }
  .p6 {
    padding: 1.25vw;
  }
  .pl6 {
    padding-left: 1.25vw;
  }
  .pr6 {
    padding-right: 1.25vw;
  }
  .pt6 {
    padding-top: 1.25vw;
  }
  .pb6 {
    padding-bottom: 1.25vw;
  }
  .p8 {
    padding: 1.6666666667vw;
  }
  .pl8 {
    padding-left: 1.6666666667vw;
  }
  .pr8 {
    padding-right: 1.6666666667vw;
  }
  .pt8 {
    padding-top: 1.6666666667vw;
  }
  .pb8 {
    padding-bottom: 1.6666666667vw;
  }
  .p10 {
    padding: 2.0833333333vw;
  }
  .pl10 {
    padding-left: 2.0833333333vw;
  }
  .pr10 {
    padding-right: 2.0833333333vw;
  }
  .pt10 {
    padding-top: 2.0833333333vw;
  }
  .pb10 {
    padding-bottom: 2.0833333333vw;
  }
  .p12 {
    padding: 2.5vw;
  }
  .pl12 {
    padding-left: 2.5vw;
  }
  .pr12 {
    padding-right: 2.5vw;
  }
  .pt12 {
    padding-top: 2.5vw;
  }
  .pb12 {
    padding-bottom: 2.5vw;
  }
  .p14 {
    padding: 2.9166666667vw;
  }
  .pl14 {
    padding-left: 2.9166666667vw;
  }
  .pr14 {
    padding-right: 2.9166666667vw;
  }
  .pt14 {
    padding-top: 2.9166666667vw;
  }
  .pb14 {
    padding-bottom: 2.9166666667vw;
  }
  .p16 {
    padding: 3.3333333333vw;
  }
  .pl16 {
    padding-left: 3.3333333333vw;
  }
  .pr16 {
    padding-right: 3.3333333333vw;
  }
  .pt16 {
    padding-top: 3.3333333333vw;
  }
  .pb16 {
    padding-bottom: 3.3333333333vw;
  }
  .p18 {
    padding: 3.75vw;
  }
  .pl18 {
    padding-left: 3.75vw;
  }
  .pr18 {
    padding-right: 3.75vw;
  }
  .pt18 {
    padding-top: 3.75vw;
  }
  .pb18 {
    padding-bottom: 3.75vw;
  }
  .p20 {
    padding: 4.1666666667vw;
  }
  .pl20 {
    padding-left: 4.1666666667vw;
  }
  .pr20 {
    padding-right: 4.1666666667vw;
  }
  .pt20 {
    padding-top: 4.1666666667vw;
  }
  .pb20 {
    padding-bottom: 4.1666666667vw;
  }
  .p22 {
    padding: 4.5833333333vw;
  }
  .pl22 {
    padding-left: 4.5833333333vw;
  }
  .pr22 {
    padding-right: 4.5833333333vw;
  }
  .pt22 {
    padding-top: 4.5833333333vw;
  }
  .pb22 {
    padding-bottom: 4.5833333333vw;
  }
  .p24 {
    padding: 5vw;
  }
  .pl24 {
    padding-left: 5vw;
  }
  .pr24 {
    padding-right: 5vw;
  }
  .pt24 {
    padding-top: 5vw;
  }
  .pb24 {
    padding-bottom: 5vw;
  }
  .p26 {
    padding: 5.4166666667vw;
  }
  .pl26 {
    padding-left: 5.4166666667vw;
  }
  .pr26 {
    padding-right: 5.4166666667vw;
  }
  .pt26 {
    padding-top: 5.4166666667vw;
  }
  .pb26 {
    padding-bottom: 5.4166666667vw;
  }
  .p28 {
    padding: 5.8333333333vw;
  }
  .pl28 {
    padding-left: 5.8333333333vw;
  }
  .pr28 {
    padding-right: 5.8333333333vw;
  }
  .pt28 {
    padding-top: 5.8333333333vw;
  }
  .pb28 {
    padding-bottom: 5.8333333333vw;
  }
  .p30 {
    padding: 6.25vw;
  }
  .pl30 {
    padding-left: 6.25vw;
  }
  .pr30 {
    padding-right: 6.25vw;
  }
  .pt30 {
    padding-top: 6.25vw;
  }
  .pb30 {
    padding-bottom: 6.25vw;
  }
  .p32 {
    padding: 6.6666666667vw;
  }
  .pl32 {
    padding-left: 6.6666666667vw;
  }
  .pr32 {
    padding-right: 6.6666666667vw;
  }
  .pt32 {
    padding-top: 6.6666666667vw;
  }
  .pb32 {
    padding-bottom: 6.6666666667vw;
  }
  .p34 {
    padding: 7.0833333333vw;
  }
  .pl34 {
    padding-left: 7.0833333333vw;
  }
  .pr34 {
    padding-right: 7.0833333333vw;
  }
  .pt34 {
    padding-top: 7.0833333333vw;
  }
  .pb34 {
    padding-bottom: 7.0833333333vw;
  }
  .p36 {
    padding: 7.5vw;
  }
  .pl36 {
    padding-left: 7.5vw;
  }
  .pr36 {
    padding-right: 7.5vw;
  }
  .pt36 {
    padding-top: 7.5vw;
  }
  .pb36 {
    padding-bottom: 7.5vw;
  }
  .p38 {
    padding: 7.9166666667vw;
  }
  .pl38 {
    padding-left: 7.9166666667vw;
  }
  .pr38 {
    padding-right: 7.9166666667vw;
  }
  .pt38 {
    padding-top: 7.9166666667vw;
  }
  .pb38 {
    padding-bottom: 7.9166666667vw;
  }
  .p40 {
    padding: 8.3333333333vw;
  }
  .pl40 {
    padding-left: 8.3333333333vw;
  }
  .pr40 {
    padding-right: 8.3333333333vw;
  }
  .pt40 {
    padding-top: 8.3333333333vw;
  }
  .pb40 {
    padding-bottom: 8.3333333333vw;
  }
}
.ff-noto {
  font-family: "Noto Sans Display" !important;
}
.ff-pre {
  font-family: "Pretendard" !important;
}
.ff-notokr {
  font-family: "Noto Sans KR" !important;
}

.fs-xl6-64 {
  font-size: 2.75rem;
  line-height: 1.4545454545;
}

.fs-xl5-40 {
  font-size: 2rem;
  line-height: 1.25;
}

.fs-xl4-40 {
  font-size: 1.75rem;
  line-height: 1.4285714286;
}

.fs-xl3-32 {
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

.fs-xl2-32 {
  font-size: 1.375rem;
  line-height: 1.4545454545;
}

.fs-xl-32 {
  font-size: 1.25rem;
  line-height: 1.6;
}

.fs-lg-24 {
  font-size: 1.125rem;
  line-height: 1.3333333333;
}

.fs-md-24 {
  font-size: 1rem;
  line-height: 1.5;
}

.fs-sm-24 {
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

.fs-xs-16 {
  font-size: 0.8125rem;
  line-height: 1.2307692308;
}

.fs-xs2-16 {
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.fs-xs3-16 {
  font-size: 0.6875rem;
  line-height: 1.4545454545;
}

.fs-xs4-16 {
  font-size: 0.625rem;
  line-height: 1.6;
}

.txt-lt {
  text-align: left;
}

.txt-rt {
  text-align: right;
}

.txt-ct {
  text-align: center;
}

.fw-900 {
  font-weight: 900 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-100 {
  font-weight: 100 !important;
}

.va-ba {
  vertical-align: baseline !important;
}

.va-t {
  vertical-align: top !important;
}

.va-b {
  vertical-align: bottom !important;
}

.va-m {
  vertical-align: middle !important;
}

.va-s {
  vertical-align: sub !important;
}

.va-sp {
  vertical-align: super !important;
}

.va-tt {
  vertical-align: text-top !important;
}

.va-tb {
  vertical-align: text-bottom !important;
}

.txt-line-top {
  text-decoration: overline;
}

.txt-line-center {
  text-decoration: line-through;
}

.txt-line-bottom {
  text-decoration: underline;
}

.fst-no {
  font-style: normal;
}

.fst-it {
  font-style: italic;
}

.fst-ob {
  font-style: oblique;
}

.w10p {
  width: 10%;
}
.w15p {
  width: 15%;
}
.w20p {
  width: 20%;
}
.w25p {
  width: 25%;
}
.w30p {
  width: 30%;
}
.w35p {
  width: 35%;
}
.w40p {
  width: 40%;
}
.w45p {
  width: 45%;
}
.w50p {
  width: 50%;
}
.w55p {
  width: 55%;
}
.w60p {
  width: 60%;
}
.w65p {
  width: 65%;
}
.w70p {
  width: 70%;
}
.w75p {
  width: 75%;
}
.w80p {
  width: 80%;
}
.w85p {
  width: 85%;
}
.w90p {
  width: 90%;
}
.w95p {
  width: 95%;
}
.w100p {
  width: 100%;
}

.dp-n {
  display: none;
}

.dp-b {
  display: block;
}

.po-rl {
  position: relative;
}

.po-ab {
  position: absolute;
}

.scroll {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) rgb(255, 255, 255);
}
.scroll::-webkit-scrollbar {
  width: 13px;
  height: 10px;
}
.scroll::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border: 0;
  border-top: 1px solid rgb(255, 255, 255);
}
.scroll::-webkit-scrollbar-thumb {
  border: 3px solid white;
  border-radius: 8px;
  background-color: #d9d8dc;
  background-clip: padding-box;
}

.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  setzindex: -100;
}

span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.no-space {
  white-space: nowrap;
}

.space {
  white-space: nowrap;
}
