.flex-box .grid-item-2 {
  max-height: 353px;
}
.flex-box .grid-item-2 img {
  width: 100%;
  border-radius: 12px;
}

.type-pc .swiper-wrapper .swiper-slide {
  max-height: 200px;
}

.type-mo .swiper-wrapper .swiper-slide {
  max-height: 485px;
}
