@charset "utf-8";
@import "../../../design_system/scss/_variables.scss", "../../../design_system/scss/_mixins.scss";
$bg-color-light: $gray50;
$bg-color-dark: $base-background-color;
$color-dark: $gray300;
.video-wrapper {
  & video {
    width: 100%;
  }
}
.flex-box {
  .grid-item-2 {
    & img {
      width: 100%;
      border-radius: 12px;
    }
  }
}
