@charset "utf-8";
@import "../../../design_system/scss/_variables.scss", "../../../design_system/scss/_mixins.scss";
$bg-color-light: $gray50;
$bg-color-dark: $base-background-color;
$color-dark: $gray300;
.dsy {
  & input.toggle.right:checked + label::after {
    background-color: $secondary600;
  }
  & .title {
    @include setFontStyle(map-get($font, xl2-32));
    margin-bottom: 12px;
  }
  & .description {
    @include setFontStyle(map-get($font, sm-24));
    display: none;
  }
  & .tag-wrapper {
    margin-bottom: 12px;
    & .tag {
      margin: 4px;
      border: 1px solid $gray75;
    }
  }
  & .more-btn {
    @include setFlexLayout;
    background: $secondary600;
    width: 100%;
    margin: 16px 0;
    & .ic {
      background: $white100;
      &.page {
        margin-right: 4px;
      }
    }
    &.active {
      & .arrow-down {
        transform: rotate(180deg);
      }
      & + .description {
        display: block;
      }
    }
  }
}
.dark {
  &.dsy {
    & .title {
      color: $white100;
    }
    & .description {
      color: $color-dark;
    }
  }
}
