@charset "utf-8";
@import "../../../design_system/scss/_variables.scss", "../../../design_system/scss/_mixins.scss";
$bg-color-light: $gray50;
$bg-color-dark: $base-background-color;
$color-dark: $gray300;
.component-group {
  &.swiper {
    padding-bottom: 12px;
  }
  & .swiper {
    &-wrapper {
      align-items: stretch;
    }
    &-slide {
      height: auto;
      border-radius: 12px;
      background-color: #fff;
    }
    &-pagination {
      border-radius: 12px;
      & .swiper-pagination-progressbar-fill {
        border-radius: 12px;
      }
    }
  }
}
.dark {
}
