@charset "utf-8";
@import "../../../design_system/scss/_variables.scss", "../../../design_system/scss/_mixins.scss";
$bg-color-light: $gray50;
$bg-color-dark: $base-background-color;
$color-dark: $gray300;
.dsy {
  & input.toggle.right:checked + label::after {
    background-color: $secondary600;
  }
  & .title {
    @include setFontStyle(map-get($font, xl2-32), $secondary600, 600);
  }
  & .description {
    @include setFontStyle(map-get($font, sm-24));
    display: none;
  }
  & .tag-wrapper {
    margin-bottom: 24px;
  }
  & .more-btn {
    @include setFlexLayout;
    width: 100%;
    margin: 16px 0;
    &:hover {
      & .ic {
        background-color: #fff;
      }
    }
    & .ic {
      background: $secondary500;
      &.page {
        margin-right: 4px;
      }
    }
    &.active {
      & + .description {
        display: block;
      }
    }
  }
}
.dark {
  &.dsy {
    & .description {
      color: $color-dark;
    }
  }
}
