<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design System - Molecules</title>
    <link rel="stylesheet" href="../../../css/base.css" />
    <link rel="stylesheet" href="../../../css/common.css" />
    <link rel="stylesheet" href="../../../css/lib/prism.css" />
    <link rel="stylesheet" href="../../../css/component.css" />
    <link rel="stylesheet" href="../../../css/design-system.css" />
  </head>
  <body>
    <div class="container">
      <div class="fix-content">
        <h1>Design System - Component</h1>
      </div>
      <div class="atomic-design-list molecules">
        <div class="tab-line tab-header">
          <button type="button" class="" data-tab-header="0">Alerts & Toast</button>
          <button type="button" class="active" data-tab-header="1">Dropdown</button>
          <button type="button" class="" data-tab-header="2">DatePicker</button>
          <button type="button" class="" data-tab-header="3">Pagenation</button>
          <button type="button" class="" data-tab-header="4">Tab menu</button>
          <button type="button" class="" data-tab-header="5">ToolTip</button>
        </div>
        <div class="tab-line tab-content">
          <!-- Dropdown [s] -->
          <section id="Dropdown" class="active" data-tab-content="1">
            <h2>Dropdown</h2>
            <div class="round-box">
              <ul>
                <li>여러개의 데이터를 한 페이지에 보여줘야 할 때 페이지네이션 기능을 사용하여 다른 데이터를 볼 수 있습니다.</li>
                <li>10개 이상의 버튼이 필요할 때 page-ellipsis 클래스를 사용하여 축약 스타일을 사용 할 수 있습니다 .</li>
                <li>해당 페이지 활성화 시 active클래스를 사용하여 활성화 스타일을 사용 할 수 있습니다.</li>
                <li>txt-* 클래스를 사용하여 위치를 변경 할 수 있습니다.</li>
              </ul>
            </div>
            <h3>Example</h3>
            <pre><code class="language-html">&lt;!-- dropdown --&gt;
&lt;div class="dropdown" tabindex="0"&gt;
  &lt;button type="button" class="selected-item"&gt;Please Select&lt;/button&gt;
  &lt;ul class="option-list scroll"&gt;
    &lt;li class="option-item item"&gt;Select1&lt;/li&gt;
    &lt;li class="option-item item"&gt;Select2&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
          </code></pre>
            <div class="dropdown" tabindex="0">
              <button type="button" class="selected-item">Please input</button>
              <ul class="option-list scroll">
                <li class="option-item item">Select1</li>
                <li class="option-item item">Select2</li>
                <li class="option-item item">Select3</li>
                <li class="option-item item">Select4</li>
                <li class="option-item item">Select5</li>
                <li class="option-item item">Select6</li>
                <li class="option-item item">Select7</li>
                <li class="option-item item">Select8</li>
                <li class="option-item item">Select9</li>
                <li class="option-item item">Select10</li>
                <li class="option-item item">Select11</li>
                <li class="option-item item">Select12</li>
              </ul>
            </div>
          </section>
          <!-- // Dropdown [e] -->
          <!-- Pagenation [s] -->
          <section id="Pagenation" class="" data-tab-content="3">
            <h2>Pagenation</h2>
            <div class="round-box">
              <ul>
                <li>여러개의 데이터를 한 페이지에 보여줘야 할 때 페이지네이션 기능을 사용하여 다른 데이터를 볼 수 있습니다.</li>
                <li>10개 이상의 버튼이 필요할 때 page-ellipsis 클래스를 사용하여 축약 스타일을 사용 할 수 있습니다 .</li>
                <li>해당 페이지 활성화 시 active클래스를 사용하여 활성화 스타일을 사용 할 수 있습니다.</li>
                <li>txt-* 클래스를 사용하여 위치를 변경 할 수 있습니다.</li>
              </ul>
            </div>
            <h3>Example</h3>
            <pre><code class="language-html">&lt;!-- pagenation --&gt;
&lt;button type="button" class="icon"&gt;
  &lt;span class="ic ic-sm chevrons-left"&gt;&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="icon"&gt;
  &lt;span class="ic ic-sm chevron-left"&gt;&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="num"&gt;1&lt;/button&gt;
&lt;button type="button" class="num active"&gt;2&lt;/button&gt;
&lt;button type="button" class="num"&gt;3&lt;/button&gt;
&lt;span class="page-ellipsis"&gt;...&lt;/span&gt;
&lt;button type="button" class="num"&gt;5478&lt;/button&gt;
&lt;button type="button" class="icon"&gt;
  &lt;span class="ic ic-sm chevrons-right"&gt;&lt;/span&gt;
&lt;/button&gt;
&lt;button type="button" class="icon"&gt;
  &lt;span class="ic ic-sm chevron-right"&gt;&lt;/span&gt;
&lt;/button&gt;
</code></pre>
            <div class="pagenation">
              <button type="button" class="icon">
                <span class="ic ic-sm chevrons-left"></span>
              </button>
              <button type="button" class="icon">
                <span class="ic ic-sm chevron-left"></span>
              </button>
              <button type="button" class="num">1</button>
              <button type="button" class="num">2</button>
              <button type="button" class="num">3</button>
              <button type="button" class="num">4</button>
              <button type="button" class="num active">5</button>
              <button type="button" class="num">6</button>
              <button type="button" class="num">7</button>
              <button type="button" class="num">8</button>
              <span class="page-ellipsis">...</span>
              <button type="button" class="num">5478</button>
              <button type="button" class="icon">
                <span class="ic ic-sm chevron-right"></span>
              </button>
              <button type="button" class="icon">
                <span class="ic ic-sm chevrons-right"></span>
              </button>
            </div>
            <div class="pagenation txt-ct">
              <button type="button" class="icon">
                <span class="ic ic-sm chevrons-left"></span>
              </button>
              <button type="button" class="icon">
                <span class="ic ic-sm chevron-left"></span>
              </button>
              <button type="button" class="num">1</button>
              <button type="button" class="num">2</button>
              <button type="button" class="num">3</button>
              <button type="button" class="num">4</button>
              <button type="button" class="num active">5</button>
              <button type="button" class="num">6</button>
              <button type="button" class="num">7</button>
              <button type="button" class="num">8</button>
              <span class="page-ellipsis">...</span>
              <button type="button" class="num">5478</button>
              <button type="button" class="icon">
                <span class="ic ic-sm chevron-right"></span>
              </button>
              <button type="button" class="icon">
                <span class="ic ic-sm chevrons-right"></span>
              </button>
            </div>
            <div class="pagenation txt-rt">
              <button type="button" class="icon">
                <span class="ic ic-sm chevrons-left"></span>
              </button>
              <button type="button" class="icon">
                <span class="ic ic-sm chevron-left"></span>
              </button>
              <button type="button" class="num">1</button>
              <button type="button" class="num">2</button>
              <button type="button" class="num">3</button>
              <button type="button" class="num">4</button>
              <button type="button" class="num active">5</button>
              <button type="button" class="num">6</button>
              <button type="button" class="num">7</button>
              <button type="button" class="num">8</button>
              <span class="page-ellipsis">...</span>
              <button type="button" class="num">5478</button>
              <button type="button" class="icon">
                <span class="ic ic-sm chevron-right"></span>
              </button>
              <button type="button" class="icon">
                <span class="ic ic-sm chevrons-right"></span>
              </button>
            </div>
          </section>
          <!-- // Pagenation [e] -->
          <!-- Tab menu [s] -->
          <section id="Tabmenu" class="" data-tab-content="4">
            <h2>Tab menu</h2>
            <div class="round-box">
              <ul>
                <li>탭메뉴는 메뉴간의 이동을 간편하게 할 때 사용합니다. 또한 컨텐츠를 나누어 보여줄때 사용합니다.</li>
                <li>탭버튼은 <strong>tab-header tab + [style]</strong>, 버튼의 하위 요소는 <strong>data-tab-header </strong> 로 표시합니다.</li>
                <li>탭컨텐츠는 <strong>tab-content</strong>, 컨텐츠의 하위 요소는<strong>data-tab-content </strong>로 표시합니다.</li>
                <li>탭 버튼과 컨텐츠의 데이터 속성값은 동일해야합니다.</li>
                <li>탭 내부에 탭을 삽입할 시 tab-style[]클래스에 구분할 수 있도록 클래스 확장 후 사용합니다.</li>
              </ul>
            </div>
            <h3>Option</h3>
            <table class="line-table w85p">
              <tr>
                <th>Type</th>
                <th>Style</th>
                <th>Class</th>
                <th>Dataset</th>
                <th>State Class</th>
                <th>Example</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>Button</td>
                <td>line / bg</td>
                <td>tab-header</td>
                <td>data-tab-header</td>
                <td>active</td>
                <td>
                  data-tab-header="content1" <br />
                  class= "tab-header tab-line" <br />
                  class= "tab-header tab-bg"
                </td>
                <td>탭메뉴의 버튼 설정</td>
              </tr>
              <tr>
                <td>Content</td>
                <td>-</td>
                <td>tab-content</td>
                <td>data-tab-content</td>
                <td>active</td>
                <td>
                  data-tab-content="content1" <br />
                  class= "tab-content tab-line"<br />
                  class= "tab-content tab-bg"
                </td>
                <td>탭메뉴의 컨텐츠 설정</td>
              </tr>
            </table>
            <h3>Example</h3>
            <pre><code class="language-html">&lt;!-- tab menu --&gt;
&lt;div class="tab-line tab-header"&gt;
  &lt;button type="button" class="active" data-tab-header="tab01"&gt;Tab menu Button 1&lt;/button&gt;
  &lt;button type="button" data-tab-header="tab02"&gt;Tab menu Button 2&lt;/button&gt;
&lt;/div&gt;
&lt;div class="tab-line tab-content"&gt;
  &lt;div class="active" data-tab-content="tab01"&gt;Tab menu Content 1&lt;/div&gt;
  &lt;div data-tab-content="tab02"&gt;Tab menu Content 2 &lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
  tab(".tab-line");
  tab(".tab-line");
&lt;/script&gt;</code></pre>
            <h3>Component</h3>
            <div class="tab-component tab-header">
              <button type="button" class="active" data-tab-header="compo01">line</button>
              <button type="button" data-tab-header="compo02">background</button>
            </div>
            <div class="tab-component tab-content">
              <div class="active" data-tab-content="compo01">
                <div class="tab-line tab-header">
                  <button type="button" class="active" data-tab-header="tab01">Tab menu Button 1</button>
                  <button type="button" data-tab-header="tab02">Tab menu Button 2</button>
                </div>
                <div class="tab-line tab-content">
                  <div class="active" data-tab-content="tab01">Tab menu Content 1</div>
                  <div class="" data-tab-content="tab02">Tab menu Content 2</div>
                </div>
              </div>
              <div class="" data-tab-content="compo02">
                <div class="tab-bg tab-header">
                  <button type="button" class="active" data-tab-header="tab03">Tab menu Button 1</button>
                  <button type="button" data-tab-header="tab04">Tab menu Button 2</button>
                </div>
                <div class="tab-bg tab-content">
                  <div class="active" data-tab-content="tab03">Tab menu Content 1</div>
                  <div class="" data-tab-content="tab04">Tab menu Content 2</div>
                </div>
              </div>
            </div>

            <table class="line-table w50p"></table>
          </section>
          <!-- // Tab menu [e] -->
          <!-- ToolTip [s] -->
          <section id="ToolTip" class="" data-tab-content="5">
            <h2>ToolTip</h2>
            <div class="round-box">
              <ul>
                <li>툴팁은 마우스를 오버하거나 클릭할 때 사용자에게 정보를 제공합니다.</li>
                <li>탭버튼은 <strong>tab-header tab + [style]</strong>, 버튼의 하위 요소는 <strong>data-tab-header </strong> 로 표시합니다.</li>
                <li>탭컨텐츠는 <strong>tab-content</strong>, 컨텐츠의 하위 요소는<strong>data-tab-content </strong>로 표시합니다.</li>
                <li>탭 버튼과 컨텐츠의 데이터 속성값은 동일해야합니다.</li>
                <li>탭 내부에 탭을 삽입할 시 tab-style[]클래스에 구분할 수 있도록 클래스 확장 후 사용합니다.</li>
              </ul>
            </div>
            <h3>Option</h3>
            <table class="line-table w85p">
              <tr>
                <th>Type</th>
                <th>Style</th>
                <th>Class</th>
                <th>Dataset</th>
                <th>State Class</th>
                <th>Example</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>Button</td>
                <td>line / bg</td>
                <td>tab-header</td>
                <td>data-tab-header</td>
                <td>active</td>
                <td>
                  data-tab-header="content1" <br />
                  class= "tab-header tab-line" <br />
                  class= "tab-header tab-bg"
                </td>
                <td>탭메뉴의 버튼 설정</td>
              </tr>
              <tr>
                <td>Content</td>
                <td>-</td>
                <td>tab-content</td>
                <td>data-tab-content</td>
                <td>active</td>
                <td>
                  data-tab-content="content1" <br />
                  class= "tab-content tab-line"<br />
                  class= "tab-content tab-bg"
                </td>
                <td>탭메뉴의 컨텐츠 설정</td>
              </tr>
            </table>
            <h3>Example</h3>
            <pre><code class="language-html">&lt;!-- tab menu --&gt;
&lt;div class="tab-line tab-header"&gt;
  &lt;button type="button" class="active" data-tab-header="tab01"&gt;Tab menu Button 1&lt;/button&gt;
  &lt;button type="button" data-tab-header="tab02"&gt;Tab menu Button 2&lt;/button&gt;
&lt;/div&gt;
&lt;div class="tab-line tab-content"&gt;
  &lt;div class="active" data-tab-content="tab01"&gt;Tab menu Content 1&lt;/div&gt;
  &lt;div data-tab-content="tab02"&gt;Tab menu Content 2 &lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
  tab(".tab-line");
  tab(".tab-line");
&lt;/script&gt;</code></pre>
            <h3>Component</h3>
            <div class="tab-component tab-header">
              <button type="button" class="active" data-tab-header="compo01">line</button>
              <button type="button" data-tab-header="compo02">background</button>
            </div>
            <div class="tab-component tab-content">
              <div class="active" data-tab-content="compo01">
                <div class="tab-line tab-header">
                  <button type="button" class="active" data-tab-header="tab01">Tab menu Button 1</button>
                  <button type="button" data-tab-header="tab02">Tab menu Button 2</button>
                </div>
                <div class="tab-line tab-content">
                  <div class="active" data-tab-content="tab01">Tab menu Content 1</div>
                  <div class="" data-tab-content="tab02">Tab menu Content 2</div>
                </div>
              </div>
              <div class="" data-tab-content="compo02">
                <div class="tab-bg tab-header">
                  <button type="button" class="active" data-tab-header="tab03">Tab menu Button 1</button>
                  <button type="button" data-tab-header="tab04">Tab menu Button 2</button>
                </div>
                <div class="tab-bg tab-content">
                  <div class="active" data-tab-content="tab03">Tab menu Content 1</div>
                  <div class="" data-tab-content="tab04">Tab menu Content 2</div>
                </div>
              </div>
            </div>

            <table class="line-table w50p"></table>
          </section>
          <!-- // ToolTip [e] -->
        </div>
      </div>
    </div>
  </body>
  <script src="../../../js/front-view.js"></script>
  <script src="../../../js/lib/prism.js"></script>
  <script>
    createTab(".tab-component");
    createTab(".tab-bg");
  </script>
</html>
